<div class="container mt-5">
    <!-- show errormsg -->
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="msgHandler()"></button>
    </div>
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="msgHandler()"></button>
    </div>

    <form [formGroup]="userForm">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="email" class="form-control" formControlName="familyName" placeholder="Enter Family Name">
        </div>
        
        <div class="col-lg-4 mt-2">
            <input type="date" class="form-control" formControlName="dateOfBirth" placeholder="Enter Date of Birth">
        </div>

        <div class="col-lg-4 mt-2">
            <button class="btn btn-primary btn-lg" (click)="studentSubmit()">Create</button>
        </div>
    </form>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Family Name</th>
            <th scope="col">Date of Birth</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = 'let data of readData'>
            <th scope="row">{{data.id}}</th>
            <td>{{data.firstName}}</td>
            <td>{{data.familyName}}</td>
            <td>{{data.DateOfBirth.split('T')[0]}}</td>
        </tr>
        </tbody>
    </table>
</div>